<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/head") %>
  </head>

  <body>
    <!-- navbar -->
    <%- include("../partial/navbar") %>
    <%- include("../partial/success_alert.ejs") %> 
    
    <%- include("../partial/footer") %>
    <%- include("../partial/script") %>
  </body>

</html> 