<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/head") %>
  </head>

  <body>
    <!-- navbar -->
    <div class="divider div-primary-bg-color"></div>
    <%- include("../partial/navbar") %>
    <div class="divider div-second-bg-color"></div>


    <%- include("../partial/success_alert") %>
    <div class="container my-4">
      <%- include("../ads/dashboard_ad") %>
      <div class="row">
        <div class="col-12">
          <div class="date-today my-2">
            <h2 class="primary-heading fw_700">Recent Post</h2><span class="fw_600 f_size-2 primary-heading p-theme-color mx-1"><%= format(add(new Date(Date.now()), {hours: 8}), 'EEEE, MMMM dd, yyyy')%></span>
          </div>
          <div class="row">
          <%- include("../data/posts") %>
          <% if (post.length > 9) { %>
            <div class="see__all-post --nav-item my-3">
              <a class="fw_600 p-theme-color see__all-post-link" href="">View more Post &rightarrow;</a>
            </div>
          <% } %>
          </div>
        </div>
        <div class="col-12">
          <!-- <div class="pin__post my-3 border">
            <h5 class="primary-heading fw_700">Pinned Post 📌</h5>
          </div> -->
        </div>
      </div>
    </div>

  <% if (subject.length > 0) { %>
    <div class="divider div-second-bg-color my-5"></div>
    <div class="container my-4">
      <h2 class="primary-heading fw_700">Explore by Subject</h2>
      <%- include("../data/subject") %>
    </div>
  <% } %>

  <div class="divider div-second-bg-color my-5"></div>
    <%- include("../partial/script") %>
  </body>

</html>
