<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/head") %>
    <link rel="stylesheet" href="/dist/prism.css">
  </head>

  <body>
    <div class="divider div-primary-bg-color"></div>
    <%- include("../partial/navbar") %>
      <div class="divider div-second-bg-color"></div>

      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <%- include("../data/specific_post") %> 
          </div>  
          <div class="col-lg-3">
            <div class="related__post mt-4 border p-3">
              <h6 class="fw_700 text-black-50 primary-heading f_size-2">More on > <span><a class="p-theme-color" href="/"><%= post[0].subject_name %></span></a></h6>
              <%- include("../data/related_post.ejs") %>
            </div>
          </div>
        </div>
        
      </div>
      <script src="/dist/prism.compiled.js" async></script>
      <%- include("../partial/script") %> 
  </body>

</html>