<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/head") %>
    <link rel="stylesheet" href="/dist/prism.css">
  </head>

  <body>
    <div class="divider div-primary-bg-color"></div>
    <%- include("../partial/navbar") %>
      <div class="divider div-second-bg-color"></div>

      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <%- include("../data/specific_post") %> 
          </div>  
          <div class="col-lg-3">
            <h6 class="mt-4">Explore more</h6>
            <%- include("../data/subject_list") %> 
            <div class="related__post my-4 border p-3">
              <h6 class="fw_700 primary-heading">More on > <span><a class="p-theme-color" href="/subjects?subject_id=<%= req.query.subject_id %>"><%= post[0].subject_name %></span></a></h6>
              <%- include("../data/related_post") %>
            </div>
          </div>
        </div>
        
      </div>
      <script src="/dist/prism.compiled.js" async></script>
      <%- include("../partial/script") %> 
  </body>

</html>