<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/head.ejs") %>
    <link rel="stylesheet" href="/dist/prism.css">
  </head>

  <body>
    <div class="divider div-primary-bg-color"></div>
    <%- include("../partial/navbar") %>
      <div class="divider div-second-bg-color"></div>

      <div class="container">
        <% if (post) { %>
          <div class="spec__post-detail my-5 px-3">
            <h3 class="spec__post-title primary-heading fw_700">
              <%= post[0].post_title %>
            </h3>
            <div class="d-sm-flex align-items-center">
              <h6 class="spec__post-tag m-0 primary-heading f_size-2 fw_600">
                <%= post[0].post_tag %>
              </h6>
              <h6 class="spec__post-subject m-0 primary-heading f_size-2 fw_600 mx-sm-2 my-2">
                <%= post[0].subject_name %>
              </h6>
            </div>
            <div class="spec-sub-heading d-sm-flex align-items-center my-2">
              <h6 class="spec__post-author primary-heading p-theme-color m-0 f_size-2 fw_600"> <span
                  class="text-dark">Shared by: </span>
                <%= post[0].user_fullname %> <span class="text-dark"> @ </span>
              </h6>
              <h6 class="spec__post-created-at primary-heading m-0 f_size-2 fw_600 mx-sm-1">
                <%= format(add(post[0].post_created_at, {hours: 8}), 'EEEE, MMMM dd, yyyy p' ) %>
              </h6>
            </div>
            <hr>
            <div class="spec__post-body my-3 py-3">
              <%- post[0].post_body %>
            </div>
          </div>
          <% } else { %>

            <% } %>
      </div>
      <script src="/dist/prism.compiled.js" async></script>
      <%- include("../partial/script") %> 
  </body>

</html>