<% slice_pin_post.forEach(item => { %>
  <div class="col-lg-3">
    <a href="/evsu-insider/post?post_id=<%= item.post_id %>&subject_id=<%= item.subject_id %> " class="post-clickable text-decoration-none">
    <% if (item.post_pin) { %>
        <div class="badge bg-primary pin__indicator f_size-4">
          <span>Pinned<i class="bi bi-pin-angle-fill ms-1"></i></span>
        </div>
    <% } %>
      <div class="post__card">
        <!-- Modify Button -->
        <div class="post__title-container">
          <h6 class="post__title primary-heading f_size-heading fw_700" title="<%= item.post_title %> ">
            <%= item.post_title %>
          </h6>
        </div>
        <div class="post__header d-flex align-item-center flex-wrap gap-2">
          <h6 class="post__tag f_size-3 ">
            <%= item.post_tag %>
          </h6>
          <h6 class="post__subject fw_700 f_size-3">
            <%= item.subject_name %> ⭐
          </h6>
        </div>
        <div class="post__sub-header d-flex align-items-center text-dark">
          <h6 class="post__author f_size-3">
            - <span class="fw_700 p-theme-color"><%= item.user_fullname %></span>,
          </h6>
          <h6 class="post__created f_size-3 mx-1 fw_600">
            <%= formatDistanceToNow(item.post_created_at, { addSuffix: true }) %>
          </h6>
        </div>
      </div>
    </a>
  <% if (user.user_id === item.post_author || user.user_state == 2) { %>
    <div class="post__option mb-lg-0 mb-3 position-relative d-flex justify-content-end pe-1">
      <!-- confirm delete dialog -->
      <div class="custom__delete-dialog d-none" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="dialog-delete">
          <h5 class="delete__dialog-header">Warning!</h5>
          <hr>
          <div class="delete__dialog-body">
            This procedure can not be undone, Are your sure you want <br> to delete this precious answer?
          </div>
          <div class="delete__dialog-btn d-flex align-items-center justify-content-end --nav-list mt-4">
            <button type="button" class="btn__global btn__cancel fw_600 me-2 custom__dialog-btn-cancel">Close</button>
            <button class="btn__global btn__delete-answer fw_600 text-decoration-none custom__dialog-btn-confirm"
              data-post-id="<%= item.post_id %> ">Confirm Delete
              <span class="spinner-border spinner-border-sm d-none loading-spinner" role="status" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
      <!-- option button -->
      <button data-post-id="<%= item.post_id %> " type="button" class="pin__post option__link f_size-heading fw_600"><span><i class="bi bi-three-dots"></i></span></button>
      <div class="option-container d-none">
        <ul class="--nav-list list-unstyled m-0">
          <li class="--nav-item"><a class="--nav-link " href="/evsu-insider/post-options?post_id=<%= item.post_id %> ">Edit Post <span><i class="bi bi-pencil-square ms-1"></i></span></a></li>
      <% if (user.user_state == 2) { %>
        <% if(item.post_pin === false) {%>
            <li class="--nav-item"><button type="button" class="--nav-link pin__option-btn" data-post-id="<%= item.post_id %>">Pin Post <span><i class="bi bi-pin-angle-fill ms-1"></i></span></button></li>
        <% } else { %>
            <li class="--nav-item"><button type="button" class="--nav-link pin__option-btn unpin__option-btn" data-post-id="<%= item.post_id %>">Unpin Post <span><i class="bi bi-pin-angle-fill ms-1"></i></span></button></li>
        <% } %>
      <% } %>
          <li class="--nav-item"><button type="button" class="--nav-link delete__option-btn">Delete Post <span><i class="bi bi-trash-fill ms-1"></i></span></button></li>
        </ul>
      </div>
    </div>
  <% } %>
  </div>
<% }) %>