<% if (user.user_id===item.post_author || user.user_state==2) { %>
  <div class="post__option mb-lg-0 position-relative d-flex justify-content-end pe-1">
    <!-- confirm delete dialog -->
    <div class="custom__delete-dialog d-none" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="dialog-delete">
        <h5 class="delete__dialog-header">Warning!</h5>
        <hr>
        <div class="delete__dialog-body">
          This procedure can not be undone, Are your sure you want <br> to delete this Post?
        </div>
        <div class="delete__dialog-btn d-flex align-items-center justify-content-end --nav-list mt-4">
          <button type="button" class="btn__global btn__cancel fw_600 me-2 custom__dialog-btn-cancel">Close</button>
          <button class="btn__global btn__delete-answer fw_600 text-decoration-none custom__dialog-btn-confirm"
            data-post-id="<%= item.post_id %> ">Confirm Delete
            <span class="spinner-border spinner-border-sm d-none loading-spinner" role="status"
              aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
    <!-- option button -->
    <button data-post-id="<%= item.post_id %> " type="button"
      class="pin__post option__link f_size-heading fw_600"><span><i class="bi bi-three-dots"></i></span></button>
    <div class="option-container max-content d-none">
      <ul class="--nav-list list-unstyled m-0">
        <li class="--nav-item"><a class="--nav-link " href="/post-options?post_id=<%= item.post_id %> ">Edit Post
            <span><i class="bi bi-pencil-square ms-1"></i></span></a></li>
        <% if (user.user_state==2) { %>
          <% if(item.post_pin===false) {%>
            <li class="--nav-item"><button type="button" class="--nav-link pin__option-btn "
                data-post-id="<%= item.post_id %>">Pin Post <span><i
                    class="bi bi-pin-angle-fill ms-1"></i></span></button></li>
            <% } else { %>
              <li class="--nav-item"><button type="button" class="--nav-link pin__option-btn unpin__option-btn"
                  data-post-id="<%= item.post_id %>">Unpin Post <span><i
                      class="bi bi-pin-angle-fill ms-1"></i></span></button></li>
              <% } %>
                <% } %>
                  <li class="--nav-item"><button type="button" class="--nav-link delete__option-btn">Delete Post
                      <span><i class="bi bi-trash-fill ms-1"></i></span></button></li>
      </ul>
    </div>
  </div>
  <% } %>