<% if (post.length > 0) { %>
  <% post.forEach(item => { %>
    <div class="col-lg-3">
      <a href="/evsu-insider/post/<%= item.post_id %> " class="post-clickable text-decoration-none">
        <div class="post__card">
          <div class="post__header">
            <h5 class="post__title primary-heading f_size-heading fw_700">
              <%= item.post_title %>
            </h5>
            <h6 class="post__tag f_size-3 w-max-content">
              <%= item.post_tag %>
            </h6>
            <h6 class="post__subject fw_700 f_size-3 w-max-content">
              <%= item.subject_name %> ⭐
            </h6>
          </div>
          <div class="post__sub-header d-flex align-items-center text-dark">
            <h6 class="post__author f_size-3">
              <span>Shared By: </span>
              <span class="fw_600">
                <%= item.user_fullname %>
              </span> -
            </h6>
            <h6 class="post__created f_size-3 mx-1 fw_700">
              Posted <%= formatDistanceToNow(item.post_created_at, { addSuffix: true }) %>
            </h6>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  <% } else { %>
        <h5 class="primary-heading fw_600 text-center my-5">No such data, Add one by clicking "Share Answer"</h5>
  <% } %>