<% if (post.length> 0) { %>
  <% post.forEach((item, index) => { %>
      <article class="post__article my-4">
        <div class="post__card-v2 <%= item.post_thumbnail_image_url ? "height__29" : "height__max-content"%>">
          <% if(item.post_thumbnail_image_url) { %>
          <div class="post__image-thumbnail-wrapper">
            <img class="post__image-thumbnail" loading="lazy" src="<%= item.post_thumbnail_image_url %>">
          </div>
          <% } %>
          <div class="post__information <%= item.post_thumbnail_image_url ? "margin__12" : "" %>">
            <div class="post__main-header">
            <h4 class="post__title m-0 my-2"><%= item.post_title %></h4>
            </div>
            <div class="d-flex align-items-center justify-content-between flex-wrap">
              <div class="d-flex align-items-center flex-wrap">
                <div class="profile__image-wrapper">
                  <img class="profile__image-src" src="<%= item.profile_image_url %>">
                </div>
                <h6 class="post__user-name my-0 mx-1 f_size-2"><%= item.user_fullname %></h6>
              </div>
              <h6 class="post__created m-0 f_size-3 text-black-50">
                <i class="bi bi-clock p-theme-color"></i> <%= formatDistanceToNow(item.post_created_at, { addSuffix: true }) %>&nbsp;•&nbsp;
                <%= formatRelative(add(item.post_created_at, {hours: 8}), add(new Date(), {hours: 8})) %>
              </h6>
            </div>
          </div>
          <div class="post__sub-header mt-2 px-1 d-flex align-items-center flex-wrap <%= item.post_thumbnail_image_url ? "" : "pb-5" %>">
            <h6 class="post__tag f_size-3 mx-1">
              <%= item.post_tag %>
            </h6>
            <h6 class="post__subject fw_700 f_size-3 mx-1 p-theme-color">
              <%= item.subject_name %> - <%= item.subject_description %> 
            </h6>
          </div>
          <div class="content__hider d-flex align-items-center justify-content-between px-4">
            <div class="post__footer-options d-flex align-items-center">
              <a class="read__post f_size-3 fw_600" href="/post?post_id=<%= item.post_id %>&subject_id=<%= item.subject_id %>">Read Post</a>
              <% if(comment_count[index][0].count !== "0") { %>
              <h6 class="post__created f_size-3 mx-1 fw_600 p-theme-color m-0"><i class="bi bi-chat-fill"></i> (<%= comment_count[index][0].count %>)</h6>
              <% } %>
            </div>
            <div class="toggle-options">
              <%- include("../data/post_toggle_options", {item: item}) %> 
            </div>
          </div>
        </div>
      </article>
  <% }) %>
<% } else { %>
  <h5 class="fw_600 text-center my-5 text-black-50">No such data, Add one by
    clicking "Share Answer"</h5>
<% } %>