<% if (post) { %>
  <article class="specific__post-article">
    <div class="spec__post-detail my-4">
      <h1 class="spec__post-title secondary-heading fw_700">
        <%= post[0].post_title %>
        <% if (post[0].post_pin) { %>
            <sup class="badge bg-primary f_size-3">Pinned<i class="bi bi-pin-angle-fill ms-1"></i></sup>
        <% } %>
      </h1>
      <div class="d-flex align-items-center flex-wrap ">
        <h6 class="spec__post-tag m-0 primary-heading f_size-2 fw_600 mx-1">
          <%= post[0].post_tag %>
        </h6>
        <h6 class="spec__post-subject m-0 primary-heading f_size-2 fw_600 mx-1 mx-sm-2 my-2">
          <%= post[0].subject_name %>
        </h6>
      </div>
      <div class="spec-sub-heading d-flex align-items-center justify-content-start flex-wrap my-2">
        <div class="spec__post-user-image-container me-1">
          <img class="spec__post-user-image shine" src="<%= post[0].profile_image_url %> " loading="lazy">
        </div>
        <a class="spec__post-author secondary-heading m-0 f_size-2 fw_600 text-decoration-none text-dark" href="/person">
          <%= post[0].user_fullname %>
          <% if(post[0].user_state == 2) { %>
            <sup class="badge bg-success f_size-4">Admin</sup>
          <% } %>
        </a>
        <h6 class="spec__post-created mx-1 my-0 f_size-3 fw_600">
          •&nbsp;<i class="bi bi-clock f_size-1 p-theme-color"></i> <%= format(add(post[0].post_created_at, {hours: 8}), 'EEE, MMMM dd, yyyy • p' ) %> 
        </h6>
      </div>
      <% if (format(post[0].post_created_at,'EEEE, MMMM dd, yyyy p')!== format(post[0].post_updated_at, 'EEEE, MMMM dd, yyyy p')) { %>
        <h6 class="spec__post-updated-at secondary-heading m-0 f_size-3 fw_600 text-black-50">Edited: <i class="bi bi-clock f_size-1"></i> <%= formatDistanceToNow((new Date(), post[0].post_updated_at), { addSuffix: true }) %> •&nbsp;<%= format(add(post[0].post_updated_at, {hours: 8}), 'EEE, MMM dd, yyyy • p' ) %>. </h6>
      <% } %>
      <hr>
      <div class="spec__post-body my-3 py-3">
        <%- post[0].post_body %>
      </div>
      <hr>
    </div>
  </article>
<% } %>